.section-subtitle-theme-dark {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 80px;
    text-align: center;
    position: relative;
    z-index: 3;
    color: #F2F2F2;
}