.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* ####### HEADER ####### */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  z-index: 3;
}
.header__title{
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}
.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  margin: 0%;
  font-style: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 3;
}
.header__link {
  color: #2F80ED;
  text-decoration: none;
}
.main-illustration{
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 3;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 2;
}
/* ####### DESCRIPTION ####### */
.two-columns {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: flex-start;
  color: #2F80ED;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 30px;
}
.two-columns__paragraph:last-of-type {
  margin-bottom: 0px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold; 
}
/* ####### DIGITS #######*/
.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}
.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
}
.table {
  width: 1100px;
  margin: auto;
  margin-bottom: 100px;
  padding: 0%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.table__cell {
  width: 250px;
  padding: 0%;
  list-style: none;
}
.table__cell_1st-row {
  margin-bottom: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0%;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.table__text_source {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0%;
}
/* ####### FEYNMAN #######*/
.feynman {
  position: relative;
  height: 790px;
  text-align: center;
  background-color: #F2F2F2;
}
.feynman__title {
  display: inline-block;
  width: 775px;
  z-index: 2;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  position: relative;
}
.feynman__subtitle {
  width:387px;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}
.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED;
}
.feynman__image {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0px;
  left: 0px;
  z-index: -0;
}
/* ####### KAUFMAN #######*/
.kaufman {
  background-color:  #1F1F1F;
  position: relative;
  overflow: hidden;
}
.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px; 
  font-weight: bold;
  width: 60%;
  margin: auto;
  margin-top: 0%;
  padding-top: 90px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  z-index: 3;
  color: #F2F2F2;
}
.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 80px;
  text-align: center;
  position: relative;
  z-index: 3;
  color: #F2F2F2;
}
.table_theme_dark {
  width: 1100px;
  margin: auto;
  margin-bottom: 90px;
  padding: 0%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.table__cell_theme_dark {
  width: 200px;
  padding: 0%;
  list-style: none;
}
.table__cell_theme_dark_1st-row {
  margin-bottom: 80px;
}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0%;
  color: #F2F2F2;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0%;
  color: #F2F2F2;
}
.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  top: 0;
  z-index: 1;
}
/* ####### FOOTER #######*/
.footer {
  min-height: 150px; /*cambio de mínimo de altura para asemejar al orignal*/
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1F1F1F;
}
.footer__columns {
  padding: 0%;
  list-style: none;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer__column_copyright_container {
  flex-basis: 711px;
}
.footer__column_copyright {
  padding: 0%;
  list-style: none;
  position: relative;
}
.logo logo_place_footer {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 35px;
  z-index: 3;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 118px;
  margin-bottom: 18px;
  color: #F2F2F2;
}
.footer__column_about {
  padding: 0%;
  list-style: none;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #F2F2F2;
}
.footer__list {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0%;
  list-style: none;
}
.footer__column-link {
  padding: 0%;
  list-style: none;
  color: #F2F2F2;
  text-decoration: none;
}
.footer_column_content_social {
  padding: 0%;
  list-style: none;
}
.footer__social-icons {
  width: 16px;
  height: 16px;
  display: inline;
  margin-right: 10px;
}